<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  {% comment %} <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> {% endcomment %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.7">

  <!--static load-->
  {% load static %}   


  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <!-- Jquery-->
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <!-- 요기에 구글 머티리얼 아이콘 -->
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp|Material+Symbols+Outlined"
    rel="stylesheet">

  <title>세상의 모든 맛집! NyamNyam </title>
</head>

<style>

.navbar{
    z-index:9; 
    }

.main_body {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: #FAFAFA;
}

.left_body {
    {#background-color: skyblue;#}
    margin-right: 0px;
    width: 500px;
    height: 2000px;
    display: flex;
    flex-direction: column;
}

.right_body {
    {#background-color: yellow;#}
    padding-top: 25px;
    width: 300px;
    height: 1000px;
    left: 72%;
    position: fixed
}

.feed_box {
    background-color: white;
    width: 480px;
    margin: 10px;
    min-height: auto;
    padding-bottom: 10px;
}

.feed_img{
    width: 100%;
    object-fit: contain;
}

.feed_content{
    padding: 0px 10px;
}

.feed_like{
    padding: 0px 10px;
}

.feed_reply{
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
}


.feed_txt{
    font-size: 16px;
}

.feed_icon{
    padding: 5px 5px 0px 5px;
    display: flex;
    justify-content: space-between;
}span{
     padding-right: 5px;
}

.feed_name{
    padding: 10px;
    display: flex;
    align-items: center;
}

.feed_name_txt{
    font-size: 24px;
    padding: 0px 10px;
    font-weight: bold;
    align: center;
}

.user_name_txt{
    font-size: 15px;
    padding: 0px 10px;
    font-weight: bold;
    align: center;
}

.profile_box {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
}
.profile_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name_content{
    display: flex;
    flex-direction: column;
}

.name_content_txt{
    font-size: 12px;
    padding: 0px 10px;
    font-weight: bold;
    color: lightgray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 190px;
}

.big_profile_box {
    width: 60px;
    height: 60px;
    border-radius: 70%;
    overflow: hidden;
}

.link_txt{
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.recommend_box {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
}

.comment_box{
    margin: 40px 0 0 5px;
    font-size: 12px;
    font-weight: bold;
    color: lightgray;
    display: flex;
    flex-direction: column;
}
.modal_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  z-index:999;
}

.modal_window {
  background: white;
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 800px;
  height: 600px;
  position: relative;
  padding: 10px;
  z-index:999;
}

.modal_title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
}

.modal_title_side{
  flex: 0 0 40px;
  text-align: center;
}
.img_upload_space{
  outline-offset:-10px;
  text-align: center;
  transition: all .15s ease-in-out;
  width:780px;
  height: 548px;
}


.carousel-item{
    max-height: 100vh;
    height:100%;
    width:100%;
    min-height: 450px;
    max-height: 450px;
    object-fit: cover;
    background-size: cover;
    background-size: contain;
    background-color: #BAF0EF;
    
  }
  
  .profile_data{
    font-size: 14px;
  }

  .jb-a:hover .jb-c {
    display: block;
  }

</style>
<!-- 주소 관련 API -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function loadAddressWindow() {

        new daum.Postcode({
            oncomplete: function(data) {
                // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.roadAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("input_address").value = extraAddr;
                
                } else {
                    document.getElementById("input_address").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('input_address').value = data.zonecode;
                document.getElementById("input_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("input_address").focus();

                // iframe을 넣은 element를 안보이게 한다.
                // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
            }

        }).open();


    };
</script>

<body >

<!-- 상단 내비게이션 바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom" style="width: 100%;height: 50px;position: fixed;" >
  <div class="container-fluid">
    <a href="../main">
    <img class="navbar_brand" style="height: 30px; object-fit: contain;" 
         src="{% get_media_prefix %}home_image.png">
    </a>
    <div  style="width: 500px; display:flex; flex-direction:row;">
        <input  id="search" class="form-control"  type="search" placeholder="!맛집명 / #태그 / @주소 로 검색" aria-label="Search" id="search">
        <button id="run_search" type="button" class="label btn btn-primary" style=" font-weight:bold; text-align:center; overflow:hidden; white-space: nowrap; flex-direction:row; margin:0px 0px 0px 0px; padding: 2px 15px 2px 10px; ">검색</button>
    </div>
    <div style="display:flex;">
      <a href="main"> <span class="material-icons" style="padding:5px 20px 0px 0px;">home </span></a>
      <span id="nav_bar_add_box" class="material-icons-outlined" style="padding:5px 20px 0px 0px;">add_box</span>


      <div class="dropdown">
        <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="profile_box" style=" width:30px; height:30px;">
                <!--http 포함시 -->
                {% if "https" in user.img %}
                <img class="profile_img"
                src="{{user.profile_img}}">
                <!--미포함시 -->
                {% else %}
                <img class="profile_img"
                src="{% get_media_prefix %}{{user.profile_img}}">
                {% endif %}
                </div>
        </a>
        
        <ul class="dropdown-menu" style="left:-160px;" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="/content/profile">프로필</a></li>
          <li><a class="dropdown-item" href="#">정보수정</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/user/logout">로그아웃</a></li>
 
        </ul>
      </div>


    </div>
    </div>
  </div>
</nav>


<!-- 바디 영역 -->
<div style="display:flex; flex-direction:row; text-align:center; justify-content:center; padding-top:60px;">
    <!-- 프로필 사진 영역 -->
    <div style="padding:20px 60px;">
        <div class="profile_box" style=" width:200px; height:200px;">
            <!--http 포함시 -->
            {% if "https" in user.img %}
            <img class="profile_img"
            src="{{user.profile_img}}">
            <!--미포함시 -->
            {% else %}
            <img class="profile_img"
            src="{% get_media_prefix %}{{user.profile_img}}">
            {% endif %}
        </div>
    </div>
    <div>
        <div style="display:flex; flex-direction:row; margin-bottom:40px;  margin-top:65px;">
            <div id="user_id" style="font-size:20px; margin-right:40px; font-weight:bold;">
                {{user.nickname}}
            </div>
            <button id="button_profile_upload" type="button" class="label btn btn-primary" style="margin-right:40px;">
                프로필 사진 변경
            </button>

            <input type="file" id="input_fileupload" onchange="profile_upload();" style="display:none;"/>

        </div>
        
        <div style="display:flex; flex-direction:row; justify-content:center; margin-bottom: 25px; ">
            <div style="margin-right:80px;">
                <b>게시물 </b> {{feed_count}}
            </div>

            <div>
              <b>냠냠 Tier </b> {{user.grade}}
            </div>
        </div>
        <div style="display:flex; flex-direction:row; justify-content:center; margin-bottom: 25px; ">
            <div style="margin-right:80px;">
                <b> 좋아요 </b> {{like_sum}}
            </div>

            <div style="margin-right:80px;">
                <b> 싫어요 </b> {{hate_sum}}
            </div>

            <div>
                <b> 찜 </b> {{bookmark_sum}}
            </div>
        </div>
        <div style="display:flex; flex-direction:row; justify-content:center; margin-bottom:30px;">
                <div style="margin-right:15px;">
                    <b>냠냠포인트  </b> 
                </div>
                <div style="display:flex; flex-direction:row; justify-content:center;">
                    {{user.point}} &nbsp<b> Point</b>  
                    <span style="margin-left:10px;" class="material-icons-outlined">
                        help_outline
                    </span>
                </div>
        </div>
    </div>
</div>

<div style="border-top: solid 2px rgba(50, 50, 50, 0.1); width:100%;">
    <div style="display:flex; flex-direction:row; justify-content:center; align-item: center; margin: 20px;">
        <div id="button_feed_list" style="cursor:pointer; margin: 0px 30px; display:flex; flex-direction:row; align-item:center; font-weight:bold;"><span id="button_feed_list_icon" style="color:orange;"  class="material-icons-outlined">restaurant</span>게시물 </div>
        <div id="button_feed_like_list" style="cursor:pointer; margin: 0px 30px; display:flex; flex-direction:row; align-item:center; font-weight:bold;"><span  id="button_feed_like_icon"  style="color:gray;"  class="material-icons-outlined">favorite</span>좋아하는 맛집</div>
        <div id="button_feed_hate_list" style="cursor:pointer; margin: 0px 30px; display:flex; flex-direction:row; align-item:center; font-weight:bold;"><span  id="button_feed_hate_icon"  style="color:gray;"  class="material-icons"> thumb_down </span>싫어하는 곳</div>
        <div id="button_feed_bookmark_list" style="cursor:pointer; margin: 0px 30px; display:flex; flex-direction:row; align-item:center; font-weight:bold;"><span  id="button_feed_bookmark_icon"  style="color:gray;" class="material-icons-outlined">bookmark</span>찜 목록</div>
        <!--여기에 주요태그별 지도를 추가-->
    </div>
</div>



<div class="profile_data" id="feed_list" style="width: 100%; min-width:1000px; display:flex; justify-content:center; ">
    <div style="display:flex; flex-direction:row; flex-wrap: wrap;  width:1000px;">
        {% if "empty" in feed_list%}
        <div style="margin:auto; margin-top: 50px;">
            아직 기록이 없습니다!
        </div>
        
        {%else%}
        {%for feed in feed_list %}
            <div>
                <div >
                {% if "https" in feed.img_url %}
                <figure id="feed_{{feed.user_data_seq}}" feed_id="{{feed.user_data_seq}}" class="user_contents feed_{{feed.user_data_seq}}" style="position:relative;">
                    <img  style="width:300px; height:300px; object-fit:cover; margin: 10px 10px 0px 10px; display:block; "
                    src="{{feed.img_url}}">
                        <figcaption class="feed_data_{{feed.user_data_seq}}" style="width:300px; margin-left:10px; background: rgba(55,55,55,0.5); color:white; padding:1em; position:absolute;  display:flex; flex-direction:row; justify-content:center; top:0.2; left:0; right:0; bottom:0;">
                            <div style="margin-left:15px;"><span class="material-icons-outlined" style="color:red;">favorite</span>{{feed.like_count}}</div>
                            <div style="margin-left:15px;"><span class="material-icons" style="color:blue;">thumb_down</span>{{feed.hate_count}}</div>
                            <div style="margin-left:15px;"><span class="material-icons-outlined" style="color:orange;">bookmark</span>  {{feed.bookmark_count}}</div>
                        </figcaption>
                </figure>
                    <!--미포함시 -->
                {% else %}
                <figure id="feed_{{feed.user_data_seq}}" feed_id="{{feed.user_data_seq}}" class="user_contents feed_{{feed.user_data_seq}}" style="position:relative;">
                    <img  style="width:300px; height:300px; object-fit:cover; margin: 10px 10px 0px 10px; display:block;"
                    src="{% get_media_prefix %}{{feed.img_url}}">
                        <figcaption  class="feed_data_{{feed.user_data_seq}}" style="width:300px; margin-left:10px; background: rgba(55,55,55,0.5); color:white; padding:1em; position:absolute;  display:none; flex-direction:row; justify-content:center; top:0.2; left:0; right:0; bottom:0;">
                            <div style="margin-left:15px;"><span class="material-icons-outlined" style="color:red;">favorite</span>{{feed.like_count}}</div>
                            <div style="margin-left:15px;"><span class="material-icons" style="color:blue;">thumb_down</span>{{feed.hate_count}}</div>
                            <div style="margin-left:15px;"><span class="material-icons-outlined" style="color:orange;">bookmark</span>  {{feed.bookmark_count}}</div>
                        </figcaption>
                </figure>
                {% endif %}
                </div>
                <div style="font-weight:bold; text-align:center; margin:5px; font-size:16px;">
                    {{feed.name}}
                </div>
                <div style="margin:2px 0px 0px 10px;">
                    <a href="https://www.google.co.kr/maps/dir/{{feed.curr_place}}/{{feed.road_address}}"><span class="material-icons-outlined"> moving </span></a> 
                    {{feed.road_address}}
                </div>
                <div style="margin:2px 0px 0px 10px;">
                    <a href="tel:{{feed.phone_number}}"> <span class="material-icons-outlined">call</span></a>
                    {{feed.phone_number}}
                </div>
            </div>
        {% endfor %}
        {% endif %}
    </div> 
</div> 

<div class="profile_data" id="like_feed_list" style="width: 100%; min-width:1000px; display:none; justify-content:center; ">
    <div style="display:flex; flex-direction:row; flex-wrap: wrap;  width:1000px;">
        {% if "empty" in like_feed_list%}
        <div style="margin:auto; margin-top: 50px;">
            아직 기록이 없습니다!
        </div>
        
        {%else%}
        {%for like_feed in like_feed_list %}
            <div>
                <div >
                {% if "https" in like_feed.img_url %}
                    <img style="width:300px; height:300px; object-fit:cover; margin: 10px 10px 0px 10px;"
                    src="{{like_feed.img_url}}">
                    <!--미포함시 -->
                {% else %}
                    <img style="width:300px; height:300px; object-fit:cover; margin: 10px 10px 0px 10px;"
                    src="{% get_media_prefix %}{{like_feed.img_url}}">
                {% endif %}
                </div>
                <div style="font-weight:bold; text-align:center; margin:5px; font-size:16px;">
                    {{like_feed.name}}
                </div>
                <div style="margin:2px 0px 0px 10px;">
                    <a href="https://www.google.co.kr/maps/dir/{{like_feed.curr_place}}/{{like_feed.road_address}}"><span class="material-icons-outlined"> moving </span></a> 
                    {{like_feed.road_address}}
                </div>
                <div style="margin:2px 0px 0px 10px;">
                    <a href="tel:{{like_feed.phone_number}}"> <span class="material-icons-outlined">call</span></a>
                    {{like_feed.phone_number}}
                </div>
            </div>
        {% endfor %}
        {% endif %}
    </div> 
</div> 

<div class="profile_data" id="hate_feed_list" style="width: 100%; min-width:1000px; display:none; justify-content:center; ">
    <div style="display:flex; flex-direction:row; flex-wrap: wrap;  width:1000px;">
        {% if "empty" in hate_feed_list%}
            <div style="margin:auto; margin-top: 50px;">
                아직 기록이 없습니다!
            </div>
        
        {%else%}
            {%for hate_feed in hate_feed_list %}
                <div>
                    <div >
                    {% if "https" in hate_feed.img_url %}
                        <img style="width:300px; height:300px; object-fit:cover; margin: 10px 10px 0px 10px;"
                        src="{{hate_feed.img_url}}">
                        <!--미포함시 -->
                    {% else %}
                        <img style="width:300px; height:300px; object-fit:cover; margin: 10px 10px 0px 10px;"
                        src="{% get_media_prefix %}{{hate_feed.img_url}}">
                    {% endif %}
                    </div>
                    <div style="font-weight:bold; text-align:center; margin:5px; font-size:16px;">
                        {{hate_feed.name}}
                    </div>
                    <div style="margin:2px 0px 0px 10px;">
                        <a href="https://www.google.co.kr/maps/dir/{{hate_feed.curr_place}}/{{hate_feed.road_address}}"><span class="material-icons-outlined"> moving </span></a> 
                        {{hate_feed.road_address}}
                    </div>
                    <div  style="margin:2px 0px 0px 10px;">
                        <a href="tel:{{hate_feed.phone_number}}"> <span class="material-icons-outlined">call</span></a>
                        {{hate_feed.phone_number}}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div> 
</div> 

<div class="profile_data" id="bookmark_feed_list" style="width: 100%; min-width:1000px; display:none; justify-content:center; ">
    <div style="display:flex; flex-direction:row; flex-wrap: wrap;  width:1000px;">
        {% if "empty" in bookmark_feed_list%}
        <div style="margin:auto; margin-top: 50px;">
            아직 기록이 없습니다!
        </div>
        
        {%else%}
        {%for bookmark_feed in bookmark_feed_list %}
            <div>
                <div >
                {% if "https" in bookmark_feed.img_url %}
                    <img style="width:300px; height:300px; object-fit:cover; margin: 10px 10px 0px 10px;"
                    src="{{bookmark_feed.img_url}}">
                    <!--미포함시 -->
                {% else %}
                    <img style="width:300px; height:300px; object-fit:cover; margin: 10px 10px 0px 10px;"
                    src="{% get_media_prefix %}{{bookmark_feed.img_url}}">
                {% endif %}
                </div>
                <div style="font-weight:bold; text-align:center; margin:5px; font-size:16px;">
                    {{bookmark_feed.name}}
                </div>
                <div style="margin: 2px 10px 0px 10px;">
                    <a href="https://www.google.co.kr/maps/dir/{{bookmark_feed.curr_place}}/{{bookmark_feed.road_address}}"><span class="material-icons-outlined"> moving </span></a> 
                    {{bookmark_feed.road_address}}
                </div>
                <div style="margin: 2px 10px 0px 10px;">
                    <a href="tel:{{bookmark_feed.phone_number}}"> <span class="material-icons-outlined">call</span></a>
                    {{bookmark_feed.phone_number}}
                </div>
            </div>
        {% endfor %}
        {% endif %}
    </div> 
</div> 







<!--1번째 modal-->
<div id="first_modal" class="modal_overlay">
    <div class="modal_window">
        <div
            style="border-bottom:solid 2px gray; display: flex; flex-direction: row; justify-content: space-between;">
            <div>
                &nbsp;
            </div>

            <div>
            <b>새 이미지 업로드</b>
            </div>

            <div>
                <span id="close_modal1" class="material-icons-outlined">close</span>
            </div>

        </div>

        <div class="img_upload_space" style="opacity:75%; background-color:white; background-size: 65%; background-repeat: no-repeat; background-position: center;background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fbb4JR8%2FbtrV1TZMsQe%2FmKzeTh9DDEy3LSON2aYzGk%2Fimg.png); width:778px; height:540px; margin-top:10px;"></div>
        
                <button id="button_upload" type="button" class="label btn btn-primary" style="font-size:20px; font-weight:bold; width:30%; height:25%; position: relative; left: 35%; bottom:50%; margin-right:40px;">
                맛집 사진 업로드
                </button>
                <input type="file" id="input_feed_fileupload" onchange="upload();" style="display:none; ">       
        </div>

    </div>
</div>
<!--2번째 modal-->
<div id="second_modal" class="modal_overlay">
<div class="modal_window">
    <div
        style="display: flex; flex-direction: row; justify-content: space-between;">
        <div>
            &nbsp;
        </div>

        <div>
            <b>새 이미지 업로드</b>
        </div>

        <div>
            <span id="close_modal2" class="material-icons-outlined">close</span>
        </div>

    </div>
    <div style="display:flex; flex-direction:row; margin-top:10px;">
        <div class="img_upload_space" style=" width:415px; height:540px; "></div>
        <div style ="margin-left:20px;" >
        <div>
            <p style="text-align:center; color:gray;  margin-bottom:10px;">냠냠에게 새로운 맛집을 알려주세요!</p>
            <p style="text-align:center;"><b> 맛집명 </b></p>
            <textarea id ="input_name" class="form-control" style="position:center; width:385px; height:18px; margin-bottom:10px;"  id="exampleFormControlTextarea1" rows="1"></textarea>
            
            <p style="text-align:center; margin:3px 0px 2px 0px;"><b> 주소 </b> <br> <span style="color:gray; font-size:13px;">도로명주소로 기입됩니다.</span> </p>
            <textarea id ="input_address" onclick=loadAddressWindow()  class="form-control" style="position:center; width:385px; height:18px; margin-bottom:10px;"  id="exampleFormControlTextarea1" rows="1"></textarea>
            
            <p style="text-align:center; margin:3px 0px 2px 0px;"><b> 전화번호 </b> <br> <span style="color:gray; font-size:13px;">000-0000-0000 형식으로 작성해주세요.</span> </p>
            <textarea id ="input_phone" class="form-control" style="position:center; width:385px; height:18px; margin-bottom:10px;"  id="exampleFormControlTextarea1" rows="1"></textarea>
            
            <p style="text-align:center; margin:3px 0px 2px 0px;"><b> 한줄평 </b> <br> <span style="color:gray; font-size:13px;"> 부적절한 단어는 입력되지 않습니다.</span> </p>
            <textarea id ="input_comment" class="form-control" style="position:center; width:385px; height:125px;"  id="exampleFormControlTextarea1" rows="2"></textarea>

            <button id="feed_ceate_button" type="button" class="btn btn-primary" style="width:385px; margin-top:5px;">공유하기</button>
        </div>
        </div>

    </div>
    

</div>
</div>
<!--1번째 modal-->
<div id="first_modal" class="modal_overlay">
    <div class="modal_window">
        <div
            style="border-bottom:solid 2px gray; display: flex; flex-direction: row; justify-content: space-between;">
            <div>
                &nbsp;
            </div>

            <div>
            <b>새 이미지 업로드</b>
            </div>

            <div>
                <span class="material-icons-outlined">close</span>
            </div>

        </div>

        <div class="img_upload_space" style="opacity:75%; background-size: 50%; background-repeat: no-repeat; background-position: center; background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fbb4JR8%2FbtrV1TZMsQe%2FmKzeTh9DDEy3LSON2aYzGk%2Fimg.png); width:778px; height:540px; margin-top:10px;"></div>

    </div>
</div>
<!--2번째 modal-->
<div id="second_modal" class="modal_overlay">
    <div class="modal_window">
        <div
            style="display: flex; flex-direction: row; justify-content: space-between;">
            <div>
                &nbsp;
            </div>

            <div>
                <b>새 이미지 업로드</b>
            </div>

            <div>
                <span class="material-icons-outlined">close</span>
            </div>

        </div>
        <div style="display:flex; flex-direction:row; margin-top:10px;">
            <div class="img_upload_space" style=" width:500px; height:540px; "></div>
            <div style ="border-left: solid 1px gray">
            <div>
                <p style="text-align:center"><b> 리뷰 </b></p>
                <textarea class="form-control" style="width:276px; height:400px;"  id="exampleFormControlTextarea1" rows="5"></textarea>
                <button type="button" class="btn btn-primary" style="width:100%;">공유하기</button>
            </div>
            </div>

        </div>
        

    </div>
</div>



<!-- Optional JavaScript; choose one of the two! -->
<script>


//게시물 클릭시 함수
$('#button_feed_list').click(function(){
    $('#feed_list').css({
        display:"flex",
    });
    $('#button_feed_list_icon').css({
        color:"orange",
    });
    

    $('#like_feed_list').css({
        display:"none",
    });
    $('#button_feed_like_icon').css({
        color:"gray",
    });


    $('#hate_feed_list').css({
        display:"none",
    });
    $('#button_feed_hate_icon').css({
        color:"gray",
    });


    $('#bookmark_feed_list').css({
        display:"none",
    });
    $('#button_feed_bookmark_icon').css({
        color:"gray",
    });
});

//좋아요 클릭시 함수 
//게시물 클릭시 함수
$('#button_feed_like_list').click(function(){
    $('#feed_list').css({
        display:"none",
    });
    $('#button_feed_list_icon').css({
        color:"gray",
    });


    $('#like_feed_list').css({
        display:"flex",
    });
    $('#button_feed_like_icon').css({
        color:"red",
    });


    $('#hate_feed_list').css({
        display:"none",
    });
    $('#button_feed_hate_icon').css({
        color:"gray",
    });


    $('#bookmark_feed_list').css({
        display:"none",
    });
    $('#button_feed_bookmark_icon').css({
        color:"gray",
    });
});

//싫어요 클릭시 함수 
$('#button_feed_hate_list').click(function(){
    $('#feed_list').css({
        display:"none",
    });
    $('#button_feed_list_icon').css({
        color:"gray",
    });

    $('#like_feed_list').css({
        display:"none",
    });
    $('#button_feed_like_icon').css({
        color:"gray",
    });

    $('#hate_feed_list').css({
        display:"flex",
    });
    $('#button_feed_hate_icon').css({
        color:"blue",
    });


    $('#bookmark_feed_list').css({
        display:"none",
    });
    $('#button_feed_bookmark_icon').css({
        color:"gray",
    });

});

//북마크 클릭시 함수 
$('#button_feed_bookmark_list').click(function(){
    $('#feed_list').css({
        display:"none",
    });
    $('#button_feed_list_icon').css({
        color:"gray",
    });
    
    $('#like_feed_list').css({
        display:"none",
    });
    $('#button_feed_like_icon').css({
        color:"gray",
    });

    $('#hate_feed_list').css({
        display:"none",
    });
    $('#button_feed_hate_icon').css({
        color:"gray",
    });

    $('#bookmark_feed_list').css({
        display:"flex",
    });
    $('#button_feed_bookmark_icon').css({
        color:"orange",
    });
});






// 전역변수 설정
let files; // 파일명
// + 버튼 modal 띄우기
const modal = document.getElementById("first_modal");
const buttonAddFeed = document.getElementById("nav_bar_add_box");
buttonAddFeed.addEventListener("click", e => {
    modal.style.top = window.pageYOffset + 'px'; // top을 이용해 시작 y위치를 바꿔줌 
    modal.style.display = "flex";
    document.body.style.overflowY = "hidden"; // 스크롤 없애기
});
// x버튼 modal 닫기 코드 -1단계 닫기
const buttonCloseModal1 = document.getElementById("close_modal1");
const buttonCloseModal2 = document.getElementById("close_modal2");
const modal1 = document.getElementById("first_modal");
const modal2 = document.getElementById("second_modal");
buttonCloseModal1.addEventListener("click", e => {
    modal1.style.display = "none";
    document.body.style.overflowY = "visible";
    $('.img_upload_space').css({
        "background-image": "url('https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fbb4JR8%2FbtrV1TZMsQe%2FmKzeTh9DDEy3LSON2aYzGk%2Fimg.png')",
        "opacity":"100%",
        "outline": "none",
        "background-size": "65%",
        "background-repeat" : "no-repeat",
        "background-position" : "center",
        "background-color" : "white",
    });
});
//-2단계 닫기
buttonCloseModal2.addEventListener("click", e => {
    modal2.style.display ="none";
    document.body.style.overflowY = "visible";
    $('.img_upload_space').css({
        "background-image": "url('https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fbb4JR8%2FbtrV1TZMsQe%2FmKzeTh9DDEy3LSON2aYzGk%2Fimg.png')",
        "opacity":"100%",
        "outline": "none",
        "background-size": "65%",
        "background-repeat" : "no-repeat",
        "background-position" : "center",
        "background-color" : "white",
    });
});


$('.img_upload_space')
    .on("dragover", dragOver)
    .on("dragleave", dragOver)
    .on("drop", uploadFiles);
//console.log(e) e는 마우스 이벤트를 나타냄
function dragOver(e) {
    e.stopPropagation();
    e.preventDefault();
    if (e.type == "dragover") {
        $(e.target).css({"background-color": "black", "outline-offset": "-20px"});
    } else {
        $(e.target).css({"background-color": "white", "outline-offset": "-10px"});
    }
};

function uploadFiles(e){
    e.stopPropagation();
    e.preventDefault();

    e.dataTransfer = e.originalEvent.dataTransfer; //2
    files = e.target.files || e.dataTransfer.files;

    if (files.length > 1) {
        alert('파일을 1개씩 올려주십시오');
        return;
    }

    if (files[0].type.match(/image.*/)) {
      <!--파일이 업로드 되면 1번째 modal을 감추고 2번째 modal을 표시한다-->
      $('#first_modal').css({
        display:'none'
      })
      
      $('#second_modal').css({
        display:'flex',
        // 현재위치에 띄우기
        top:window.scrollY+'px',
      })
      $('.img_upload_space').css({
          "background-image": "url(" + window.URL.createObjectURL(files[0]) + ")",
          "outline": "none",
          "background-size": "100%",
          "background-repeat" : "no-repeat",
          "background-position" : "center",
        
      });
    }else{
    alert('이미지파일이 아닙니다. 파일형식을 확인해주세요 아닙니다.');
    return;
    }

};


//파일 업로드 버튼
$('#button_upload').click(function (){
    $('#input_feed_fileupload').click();
    });

function upload(){

    files = $('#input_feed_fileupload')[0].files;

    if (files[0].type.match(/image.*/)) {
        <!--파일이 업로드 되면 1번째 modal을 감추고 2번째 modal을 표시한다-->
        $('#first_modal').css({
        display:'none'
        })
        
        $('#second_modal').css({
        display:'flex',
        // 현재위치에 띄우기
        top:window.scrollY+'px',
        })
        $('.img_upload_space').css({
            "background-image": "url(" + window.URL.createObjectURL(files[0]) + ")",
            "outline": "none",
            "background-size": "100%",
            "background-repeat" : "no-repeat",
            "background-position" : "center",
        
        });
    }else{
    alert('이미지파일이 아닙니다. 파일형식을 확인해주세요 아닙니다.');
    return;
    }
};

// 공유하기 버튼 클릭시
$('#feed_ceate_button').click(function () {
    let image = files[0].name;
    let file = files[0];
    

    // 입력된 값 가져오기
    let name = $('#input_name').val();
    let road_address = $('#input_address').val();
    let phone_number = $('#input_phone').val();
    let comment = $('#input_comment').val();
    let user_id = $('#user_id').text(); // 유저 id
    // form data 변환하기
    let fd = new FormData();
    fd.append('user_id', user_id);
    fd.append('file', file);
    fd.append('image', image);
    fd.append('name', name);
    fd.append('road_address', road_address);
    fd.append('phone_number', phone_number);
    fd.append('comment', comment);

    $.ajax({
        url: "/content/upload",
        data: fd,
        method: "POST",
        processData: false,
        contentType: false,
        success: function (data) {
           location.replace('/content/profile')
           alert("성공적으로 업로드 되었습니다.");
        },
        error: function (request, status, error) {
            alert("주소가 올바르지 않거나, 한줄평에 부적절한 내용이 있습니다. 또는 전화번호 양식을 확인해주세요");
        },
        complete: function () {
            location.replace('/content/profile')
        }
    })
});


$('#button_profile_upload').click(function (){
    $('#input_fileupload').click();
});

function profile_upload(){
    let file = $('#input_fileupload')[0].files[0];
    let email = "{{user.email}}";
    
    // form data 변환하기
    let fd = new FormData();
    fd.append('file', file);
    fd.append('email', email);

    $.ajax({
        url: "/content/profile/upload",
        data: fd,
        method: "POST",
        processData: false,
        contentType: false,
        success: function (data) {
        alert("프로필 이미지가 성공적으로 변경되었습니다.");
        },
        error: function (request, status, error) {
            alert("업로드 오류입니다.");
        },
        complete: function () {
            location.replace('/content/profile')
        }
    })    

};

//검색 알고리즘
$('#run_search').click(function(){
    window.scrollTo(0,0)
    //show_loadingbar()
    let serch_keyword = $('#search').val();

    // 검색정보가 없을때는 아무 동작하지 않기
    if (serch_keyword==""){
        alert("검색어를 입력해주세요!")
    }else{
        window.location.href=`main?${serch_keyword}`;
       //$('search').html("aaa");
    }
});
    
//개인 업로드 데이터 이미지 hover 시 효과
$(".user_contents").hover(function(event){
    //요소에 마우스를 올렸을 때 기능
    let feed_id = event.target.attributes.getNamedItem("feed_id").value;
    let target_name= "feed_data_"+feed_id;
    $("."+target_name).css('display','flex');
        },function(){
    let feed_id = event.target.attributes.getNamedItem("feed_id").value;
    let target_name= "feed_data_"+feed_id;
    //요소에 마우스를 올린뒤 떨어졌을때 기능
    //this == 요소의 글자 색을 block으로 바꿔라    
    $("."+target_name).css('display','none');
        });



</script>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
-->

</body>

</html>