<!--static load-->
{% load static %}  

<style>
.modal_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    z-index:999;
    }
    .modal_window {
    background: white;
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 800px;
    height: 600px;
    position: relative;
    padding: 10px;
    z-index:999;
    }
    .modal_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    }
    .modal_title_side{
    flex: 0 0 40px;
    text-align: center;
    }
</style>
<body>
<div class="loading" id="loading_image" style="display:flex;" >
    <span></span>
    <span></span>
    <span></span>

</div>

<!-- 현재는 view를 통해 출력되지만, (키워드, 거리순)을 입력값으로 하는 함수를 가지고 있는 api를 생성하여 ajax 통신으로 feed data를 가져오도록 설계한다.-->
<!--feed data 출력시작-->
{% for feed in mainfeeds %}
    <div class="border feed_box" data-wow-delay="3s" id="main_content">
        <div class="feed_name" style="display:flex; flex-direction:row; text-align:center; justify-content:center;">
            
            <div class="profile_box">
            <img class="profile_img" src="{% get_media_prefix %}default_round_image.png">
            </div>

            <span  class="feed_name_txt"> {{feed.name}} </span>

            <div style=" font-size:14px; margin-left:80px; background-color:orange; color:white; border-radius:10px; font-align:center; padding:5px 15px 5px 15px;">
                <b> {{feed.road_address_short}}</b>
            </div>


        </div>


    <!--캐러셀 디자인-->
    <div id="{{feed.name}}_carousel" class="carousel slide" data-bs-ride="carousel">

        <!--캐러셀 인덱스버튼디자인-->
        <div class="carousel-indicators">
            <!--이미지 개수만큼 인덱스 반복 생성--> 
            {% for img in  feed.img_url %}
                <!--1번째 이미지의 경우 active 추가할것--> 
                {% if forloop.first %}
                    <button type='button' data-bs-target="#{{feed.name}}_carousel"  data-bs-slide-to = {{forloop.counter0}} class="active"  aria-current="true"  aria-label="slide {{forloop.counter0}}"></button>
                {% else %}
                    <button type='button' data-bs-target="#{{feed.name}}_carousel"  data-bs-slide-to= {{forloop.counter0}}  aria-label="slide {{forloop.counter0}}"></button>
                {% endif %}
            {% endfor %}
        </div>

        <!--캐러셀 내부 이미지 디자인-->
        <div class="carousel-inner" >
            <!--이미지 개수만큼 인덱스 반복 생성--> 
            {% for img in  feed.img_url %}
                <!-- 기존 이미지(https가 있는 이미지와 신규이미지에 별도 처리)-->
                {% if "https" in img %}
                    <!--1번째 이미지라면-->
                    {% if forloop.first %}
                        <div class="carousel-item active" data-bs-interval="100000">
                        <img src={{img}} class="d-block w-100 h-100" alt="Max-height: 12vh" style="object-fit:fill;">  
                        </div>
                    <!--2번째 이미지라면-->
                    {% else %}
                        <div class="carousel-item" data-bs-interval="100000">
                        <img src={{img}} class="d-block w-100 h-100" alt="Max-height: 12vh" style="object-fit:fill;">
                        </div>
                    {% endif %} 
                
                <!-- 이미지 주소 prefix 추가-->
                {% else %}
                    <!--1번째 이미지라면-->
                    {% if forloop.first %}
                        <div class="carousel-item active" data-bs-interval="100000">
                        <img src="{% get_media_prefix %}{{img}}" class="d-block w-100 h-100" alt="Max-height: 12vh" style="object-fit:fill;">  
                        </div>
                    <!--2번째 이미지라면-->
                    {% else %}
                        <div class="carousel-item" data-bs-interval="100000">
                        <img src="{% get_media_prefix %}{{img}}" class="d-block w-100 h-100" alt="Max-height: 12vh" style="object-fit:fill;">
                        </div>
                    {% endif%} 
                {% endif%}
            {% endfor %}
        </div>
    

        <button  class="carousel-control-prev" type="button" data-bs-target="#{{feed.name}}_carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#{{feed.name}}_carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- 콘텐츠 내용-->                        
    <div class="feed_icon">
        <div style="display:flex; flex-direction:row; text-align:center; justify-content:center; margin-top:7px;">
            <span id ="favorite_{{feed.restaurant_id}}" restaurant_id="{{feed.restaurant_id}}" class="favorite material-icons-outlined" style='margin-left:5px; color:red; cursor:pointer; font-size:30px;'>{% if feed.is_like  %}favorite{% else %}favorite_border{% endif%}</span>
            <span style="font-size:12px;">&nbsp</span>
            <span style="font-size:16px;"><b>{{feed.like}}</b></span>
            <span id ="hate_{{feed.restaurant_id}}" restaurant_id="{{feed.restaurant_id}}" class="hate material-icons"  style='margin-left:15px; color:blue; cursor:pointer; font-size:30px;'>{% if feed.is_hate  %}thumb_down_alt{% else %}thumb_down_off_alt{% endif%}</span>
            <span style="font-size:12px;">&nbsp</span>
            <span style="font-size:16px;"><b>{{feed.hate}}</b></span>     
            <span style="font-size:12px;">&nbsp</span> 

            <div style="font-size:12px; text-decoration:none; color:white; font-size:16px; margin:0px 0px 0px 20px;">
                <a  href="tel:{{feed.phone_number}}"><button type="button" class="btn btn-success disabled" style="padding:2px 15px 0px 15px;" > <span class="material-icons-outlined">call</span></button> </a>
            </div> 
            <span style="font-size:12px;">&nbsp</span>  
            <div style="font-size:12px; text-decoration:none; color:white; font-size:16px; margin:0px 0px 0px 20px;">
                <a  href="https://www.google.co.kr/maps/dir/{{feed.curr_place}}/{{feed.road_address}}"><button type="button" class="btn btn-primary disabled"  style="padding:2px 15px 0px 15px;"> <span class="material-icons-outlined">location_on</span></button> </a>
            </div> 
            
         
                <div  style="margin:0px 0px 0px 20px; padding:0px 15px 0px 15px;">
                    {% if feed.distance < 3 %}
                        <button type="button" class="btn btn-success" style="font-size:14px; padding:5px 15px 5px 15px;"><b> {{feed.distance}}KM 이내</b></button>
                    {% elif feed.distance < 6 %}
                        <button type="button" class="btn btn-primary" style="font-size:14px; padding:5px 15px 5px 15px;"><b> {{feed.distance}}KM 이내</b></button>
                    {% elif feed.distance < 9 %}
                        <button type="button" class="btn btn-secondary" style="font-size:14px; padding:5px 15px 5px 15px;"><b> {{feed.distance}}KM 이내</b></button>
                    {% else %}
                        <button type="button" class="btn btn-danger" style="font-size:14px; padding:5px 15px 5px 15px;"><b> {{feed.distance}}KM 이내</b></button>
                    {% endif %}
                </div>


    </div>
        
        <div>
            <span id ="bookmark_{{feed.restaurant_id}}" restaurant_id="{{feed.restaurant_id}}" class="bookmark material-icons"  style='color:orange; cursor:pointer; font-size:30px; margin-top:7px;'>{% if feed.is_marked  %}bookmark{% else %}bookmark_border{% endif%}</span>
        </div>

    </div>


    <div class="feed_content">
           
        <div style="border-bottom:solid 1px gray; margin-top:3px;"></div>
            
        <p class="feed_txt" style="margin: 0px 2px 2px 0px;"> <b> 주요 키워드 </b> </p>
        
        <!--버튼 디자인-->
        <div style="width:100%; display: flex; flex-direction: row; justify-content: center;">
            {% for vector in feed.vectors_1row %}
                <button tag_id="{{vector}}" type="button" class="tagsearch label btn btn-primary feed_txt vector_{{vector}}" style="font-size:12px; font-weight:bold; text-align:center; overflow:hidden;  white-space: nowrap; flex-direction:row;  margin:0px 10px 0px 0px; padding: 2px 15px 2px 10px; ">{{vector}}</button>
            {% endfor %}
        </div>

        <div style="width:100%; display: flex; flex-direction: row; justify-content: center;">
            {% for vector in feed.vectors_2row %}
                <button tag_id="{{vector}}" type="button" class="tagsearch label btn btn-primary feed_txt vector_{{vector}}" style="font-size:12px; font-weight:bold;  text-align:center; overflow:hidden; white-space: nowrap; flex-direction:row; margin:5px 5px 5px 0px;  padding: 2px 15px 2px 10px;">{{vector}}</button>
            {% endfor %}
        </div>

        
        <div style="border-bottom:solid 1px gray; margin-top:3px;"></div>
        
        <!--  등급별로 색깔 다르게 할것 -->
        <p class="feed_txt" style="margin: 0px 2px 2px 0px;"> <b> 작성자 </b> </p>
        <div style="display: flex; flex-direction: row; justify-content:center;">
        {% for writer in feed.writers %}
            {% if writer %}
            <a href="/content/userprofile?username={{writer}}"><button type="button" class="label btn btn-success feed_txt vector_{{writer}}" style="font-size:12px; font-weight:bold; text-align:center; overflow:hidden; white-space: nowrap; flex-direction:row;  margin:0px 10px 0px 0px; padding: 2px 15px 2px 10px; ">{{writer}}</button></a>
            {% endif %}
        {% endfor %}
        </div>

    </div>

    <!-- #TODO 댓글창 비활성화  -> 댓글창 운용계획 확정후 활성화 
    <div class="feed_reply" style="margin-top: 12px;">
        <span class="feed_txt"> <b> 댓글 아이디 </b> 댓글 </span>
    </div>
    -->
</div>
{% endfor %}
</body>
<script>
//태그 클릭시 이벤트
$(".tagsearch").click(function (event){
    let tag = event.target.attributes.getNamedItem("tag_id").value;

    $('#append_body').empty()
    function getLocationTag() {
        if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showFeedsTag);
        } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }
    
    function showFeedsTag(position) {
        let latitude_name =  position.coords.latitude;
        let longitude_name =  position.coords.longitude;
        let url_name = "/mainfeed?" + "latitude="+latitude_name+"&"+"longitude="+longitude_name+"&"+"tag="+tag+"&"+"address=default"+"&"+"name=default"+"&"+"error=correct"
        console.log(url_name)
    
        $.ajax({
            url: url_name,
            data: {},
            method: "GET",
            success: function (response) {
                let temp_html_name = response
    
            $('#append_body').append(temp_html_name);
    
            },
            error: function (data) {    
                alert(data.responseJSON.error);
            },
            complete: function () {
                hide_loadingbar();
                
            }
        });
    
    }
    window.scrollTo(0,0)
    getLocationTag()
    
    
});

// 좋아요 버튼 클릭시
$(".favorite").click(function (event){
    // event.target의 restaurant_id 내부 value를 가져오기
    let restaurant_id = event.target.attributes.getNamedItem("restaurant_id").value;

    // 변경할 id 값 위치 확인 및 변경사항 적용
    let favorite_id = event.target.id;
    let favorite_text = $("#"+favorite_id).html()

    // 아이콘 토글 기능 구현
    if (favorite_text=="favorite"){
        $("#"+favorite_id).html("favorite_border")

    }else{

        $("#"+favorite_id).html("favorite")
    }

    $.ajax({
        url:"/content/like",
        data:{
            restaurant_id : restaurant_id,
            favorite_text  : favorite_text

        },
        method:"POST",
        success: function(data){
            console.log('성공')
        },
        error: function(request, status, error){
            console.log('에러')
        },
        complete: function(){
            console.log('완료')

        }
    });
});

// 싫어요 버튼 클릭시
$(".hate").click(function (event){
    // event.target의 restaurant_id 내부 value를 가져오기
    let restaurant_id = event.target.attributes.getNamedItem("restaurant_id").value;

    // 변경할 id 값 위치 확인 및 변경사항 적용
    let hate_id = event.target.id;
    let hate_text = $("#"+hate_id).html()

    // 아이콘 토글 기능 구현
    if (hate_text=="thumb_down_alt"){
        $("#"+hate_id).html("thumb_down_off_alt")

    }else{

        $("#"+hate_id).html("thumb_down_alt")
    }

    $.ajax({
        url:"/content/hate",
        data:{
            restaurant_id : restaurant_id,
            hate_text  : hate_text

        },
        method:"POST",
        success: function(data){
            console.log('성공')
        },
        error: function(request, status, error){
            console.log('에러')
        },
        complete: function(){
            console.log('완료')

        }
    });
});


// 북마크 버튼 클릭시
$(".bookmark").click(function (event){
    // event.target의 restaurant_id 내부 value를 가져오기
    let restaurant_id = event.target.attributes.getNamedItem("restaurant_id").value;

    // 변경할 id 값 위치 확인 및 변경사항 적용
    let bookmark_id = event.target.id;
    let bookmark_text = $("#"+bookmark_id).html()

    // 아이콘 토글 기능 구현
    if (bookmark_text=="bookmark"){
        $("#"+bookmark_id).html("bookmark_border")

    }else{

        $("#"+bookmark_id).html("bookmark")
    }

    $.ajax({
        url:"/content/bookmark",
        data:{
            restaurant_id : restaurant_id,
            bookmark_text  : bookmark_text

        },
        method:"POST",
        success: function(data){
            console.log('성공')
        },
        error: function(request, status, error){
            console.log('에러')
        },
        complete: function(){
            console.log('완료')

        }
    });
});



    


</script>