<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.7">
  <!--static load-->
  {% load static %}   


  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <!-- Jquery-->
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <!-- 요기에 구글 머티리얼 아이콘 -->
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp|Material+Symbols+Outlined"
    rel="stylesheet">

  <title>세상의 모든 맛집! NyamNyam </title>
</head>

<style>

.navbar{
    z-index:9; 
    }

.main_body {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: #FAFAFA;
}

.left_body {
    {#background-color: skyblue;#}
    margin-right: 0px;
    width: 500px;
    height: 2000px;
    display: flex;
    flex-direction: column;
}

.right_body {
    {#background-color: yellow;#}
    padding-top: 25px;
    width: 300px;
    height: 1000px;
    left: 72%;
    position: fixed
}

.feed_box {
    background-color: white;
    width: 480px;
    margin: 10px;
    min-height: auto;
    padding-bottom: 10px;
}

.feed_img{
    width: 100%;
    object-fit: contain;
}

.feed_content{
    padding: 0px 10px;
}

.feed_like{
    padding: 0px 10px;
}

.feed_reply{
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
}


.feed_txt{
    font-size: 16px;
}

.feed_icon{
    padding: 5px 5px 0px 5px;
    display: flex;
    justify-content: space-between;
}span{
     padding-right: 5px;
}

.feed_name{
    padding: 10px;
    display: flex;
    align-items: center;
}

.feed_name_txt{
    font-size: 24px;
    padding: 0px 10px;
    font-weight: bold;
    align: center;
}

.user_name_txt{
    font-size: 15px;
    padding: 0px 10px;
    font-weight: bold;
    align: center;
}

.profile_box {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
}
.profile_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name_content{
    display: flex;
    flex-direction: column;
}

.name_content_txt{
    font-size: 12px;
    padding: 0px 10px;
    font-weight: bold;
    color: lightgray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 190px;
}

.big_profile_box {
    width: 60px;
    height: 60px;
    border-radius: 70%;
    overflow: hidden;
}

.link_txt{
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.recommend_box {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    align-items: center;
}

.comment_box{
    margin: 40px 0 0 5px;
    font-size: 12px;
    font-weight: bold;
    color: lightgray;
    display: flex;
    flex-direction: column;
}
.modal_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
}

.modal_window {
  background: white;
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 800px;
  height: 600px;
  position: relative;
  padding: 10px;
}

.modal_title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
}

.modal_title_side{
  flex: 0 0 40px;
  text-align: center;
}
.img_upload_sapce{
  outline: 2px dashed black ;
  outline-offset:-10px;
  text-align: center;
  transition: all .15s ease-in-out;
  width:780px;
  height: 548px;
}


.carousel-item{
    max-height: 100vh;
    height:100%;
    width:100%;
    min-height: 450px;
    max-height: 450px;
    object-fit: cover;
    background-size: cover;
    background-size: contain;
    background-color: #BAF0EF;
    
  }

</style>

<body >

<!-- 상단 내비게이션 바 -->
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom" style="width: 100%;height: 50px;position: fixed;" >
  <div class="container">
    <img style="height: 30px; object-fit: contain"
         src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FK7tzs%2FbtrVZWnV7X6%2F2aQ3ncwIFzKkjH0559QyF0%2Fimg.png">
    <input class="form-control" style="width: 500px; margin-left:70px;" type="search" placeholder="맛집명 또는 태그 검색" aria-label="Search">
    <div >
      <span class="material-icons">home</span>
      <span class="material-icons">send</span>
      <span id="nav_bar_add_box" class="material-icons-outlined">add_box</span>
      <span class="material-icons-outlined">explore</span>
      <span class="material-icons-outlined">favorite_border</span>
    </div>
  </div>
</nav>


<!-- 바디 영역 -->
<div class="main_body">
  <div class="left_body"> 
    <!--feed data 출력시작-->
    {% for feed in feeds %}
        <div class="border feed_box">
        <div class="feed_name">
            <div class="profile_box">
            <img class="profile_img" src="https://img.freepik.com/premium-vector/chef-icon-with-tray-of-food-in-hand_602006-191.jpg">
            </div>
            <span  class="feed_name_txt"> {{feed.name}} </span>
        </div>


        <!--캐러셀 디자인-->
        <div id="{{feed.name}}_carousel" class="carousel slide" data-bs-ride="carousel">

            <!--캐러셀 인덱스버튼디자인-->
            <div class="carousel-indicators">
                <!--이미지 개수만큼 인덱스 반복 생성--> 
                {% for img in  feed.img_url %}
                    <!--1번째 이미지의 경우 active 추가할것--> 
                    {% if forloop.first %}
                        <button type='button' data-bs-target="#{{feed.name}}_carousel"  data-bs-slide-to = {{forloop.counter0}} class="active"  aria-current="true"  aria-label="slide {{forloop.counter0}}"></button>
                    {% else %}
                        <button type='button' data-bs-target="#{{feed.name}}_carousel"  data-bs-slide-to= {{forloop.counter0}}  aria-label="slide {{forloop.counter0}}"></button>
                    {% endif %}
                {% endfor %}
            </div>

            <!--캐러셀 내부 이미지 디자인-->
            <div class="carousel-inner">
                <!--이미지 개수만큼 인덱스 반복 생성--> 
                {% for img in  feed.img_url %}
                    <!-- 기존 이미지(https가 있는 이미지와 신규이미지에 별도 처리)-->
                    {% if "https" in img %}
                        <!--1번째 이미지라면-->
                        {% if forloop.first %}
                            <div class="carousel-item active" data-bs-interval="100000">
                            <img src={{img}} class="d-block w-100 h-75" alt="Max-height: 5vh">  
                            </div>
                        <!--2번째 이미지라면-->
                        {% else %}
                            <div class="carousel-item" data-bs-interval="100000">
                            <img src={{img}} class="d-block w-100 h-75" alt="Max-height: 5vh">
                            </div>
                        {% endif %}
                    
                    <!-- 이미지 주소 prefix 추가-->
                    {% else %}
                        <!--1번째 이미지라면-->
                        {% if forloop.first %}
                            <div class="carousel-item active" data-bs-interval="100000">
                            <img src="{% get_media_prefix %}{{img}}" class="d-block w-100 h-75" alt="Max-height: 5vh">  
                            </div>
                        <!--2번째 이미지라면-->
                        {% else %}
                            <div class="carousel-item" data-bs-interval="100000">
                            <img src="{% get_media_prefix %}{{img}}" class="d-block w-100 h-75" alt="Max-height: 5vh">
                            </div>
                        {% endif%} 
                    {% endif%}
                {% endfor %}
            </div>
        

            <button  class="carousel-control-prev" type="button" data-bs-target="#{{feed.name}}_carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#{{feed.name}}_carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- 콘텐츠 내용-->                        
        <div class="feed_icon">
            <div>
            <span class="material-icons-outlined">favorite_border</span>
            <span class="material-symbols-outlined">thumb_down</span>
            <span class="material-icons-outlined">mode_comment</span>
            <span class="material-icons-outlined">send</span>
            </div>

            <div>
            <span class="material-icons-outlined">turned_in_not</span>
            </div>

        </div>

        <div class="feed_like">
            <p class="feed_txt"> <b>좋아요 {{feed.like}}  싫어요 {{feed.hate}}  평점 {{feed.rating}}</b></p>
        </div>

        <div class="feed_content">
            <p class="feed_txt" id = "text"> <b> 주소 : </b> {{feed.road_address}} </p>      
            <p class="feed_txt"> <b> 전화번호 : </b>  {{feed.phone_number}}</p>
    
            <hr>
            <p class="feed_txt" style="margin: 0px 2px 2px 0px;"> <b> 주요 키워드 </b> </p>
            
            <!--버튼 디자인-->
            <div style="width:100%; display: flex; flex-direction: row; justify-content: left;">
                {% for vector in feed.vectors_1row.split %}
                    <button type="button" class="label btn btn-primary feed_txt vector_{{vector}}" style=" font-weight:bold; text-align:center; overflow:hidden; white-space: nowrap; flex-direction:row; margin-left:5px; margin:0px 10px 0px 0px; padding: 2px 15px 2px 15px; ">{{vector}}</button>
                {% endfor %}
            </div>

            <div style="width:100%; display: flex; flex-direction: row; justify-content: left;">
                {% for vector in feed.vectors_2row.split %}
                    <button type="button" class="label btn btn-primary feed_txt vector_{{vector}}" style=" font-weight:bold;  text-align:center; overflow:hidden; white-space: nowrap; flex-direction:row; margin:5px 5px 5px 0px;  padding: 2px 15px 2px 15px;">{{vector}}</button>
                {% endfor %}
            </div>
        </div>

        <!-- #TODO 댓글창 비활성화  -> 댓글창 운용계획 확정후 활성화 
        <div class="feed_reply" style="margin-top: 12px;">
            <span class="feed_txt"> <b> 댓글 아이디 </b> 댓글 </span>
        </div>
        -->
    </div>
    {% endfor %}
</div>

<div class="right_body">
<div class="feed_name" style="justify-content: space-between">
    <div style="display: flex; align-items: center; ">
        <div class="big_profile_box">
            <img
                class="profile_img"
                src="https://i.pinimg.com/736x/93/a6/8b/93a68b57a54e4bdc73d43d1d049b94b3.jpg"></div>
            <div class="name_content">
                <span id="user_id" class="user_name_txt">
                    jeong_pearl
                </span>
                <span class="name_content_txt">
                    jinju-jeong</span>
            </div>
        </div>
        <a class="link_txt">
            전환
        </a>
    </div>

    <div class="recommend_box">
        <span style="color: gray">회원님을 위한 추천</span>
        <span style="font-size: 12px">모두 보기</span>
    </div>

    <div>
        <div class="feed_name" style="justify-content: space-between">
            <div class="profile_box">
                <img
                    class="profile_img"
                    src="https://i.pinimg.com/736x/93/a6/8b/93a68b57a54e4bdc73d43d1d049b94b3.jpg"></div>
                <div class="name_content">
                    <span class="user_name_txt">
                        dation3388
                    </span>
                    <span class="name_content_txt">
                        Jinstargram 신규가입</span>
                </div>
                <a class="link_txt">
                    팔로우
                </a>
            </div>
            <div class="feed_name" style="justify-content: space-between">
                <div class="profile_box">
                    <img
                        class="profile_img"
                        src="http://file3.instiz.net/data/cached_img/upload/2021/01/27/18/2ce2f41f7e9f09c0acc77faac7452dbf.jpg"></div>
                    <div class="name_content">
                        <span class="user_name_txt">
                            gaoudi
                        </span>
                        <span class="name_content_txt">
                            IU 외 5명이 팔로우</span>
                    </div>
                    <a class="link_txt">
                        팔로우
                    </a>
                </div>
                <div class="feed_name" style="justify-content: space-between">
                    <div class="profile_box">
                        <img
                            class="profile_img"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTiCVWdogd6Ocsm08kL8ph4sb1MN0AYEiSUQ&usqp=CAU"></div>
                        <div class="name_content">
                            <span class="user_name_txt">
                                CAU
                            </span>
                            <span class="name_content_txt">
                                IU 외 5명이 팔로우</span>
                        </div>
                        <a class="link_txt">
                            팔로우
                        </a>
                    </div>
                    <div class="feed_name" style="justify-content: space-between">
                        <div class="profile_box">
                            <img class="profile_img" src="https://pbs.twimg.com/media/EhzH0_DU4AEZ9yr.jpg"></div>
                            <div class="name_content">
                                <span class="user_name_txt">
                                    123456789
                                </span>
                                <span class="name_content_txt">
                                    그냥 추천해봄
                                </span>
                            </div>
                            <a class="link_txt">
                                팔로우
                            </a>
                        </div>
                        <div class="feed_name" style="justify-content: space-between">
                            <div class="profile_box">
                                <img
                                    class="profile_img"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHPNYM5RQgA2F7BtpBQ-OrNFKDXVDUpypRuw&usqp=CAU"></div>
                                <div class="name_content">
                                    <span class="user_name_txt">
                                        instiz
                                    </span>
                                    <span class="name_content_txt">
                                        애도 유명해
                                    </span>
                                </div>
                                <a class="link_txt">
                                    팔로우
                                </a>
                            </div>
                        </div>
                        <div class="comment_box">
                            <span>
                                세상의 모든 맛집! 냠냠
                            </span>
                            <span>
                                y2kwlswn@naver.com
                            </span>
                            <br>
                                <span>
                                    @2023 jinju
                                </span>

                            </div>
                        </div>
                    </div> 

<!--1번째 modal-->
<div id="first_modal" class="modal_overlay">
    <div class="modal_window">
        <div
            style="border-bottom:solid 2px gray; display: flex; flex-direction: row; justify-content: space-between;">
            <div>
                &nbsp;
            </div>

            <div>
            <b>새 이미지 업로드</b>
            </div>

            <div>
                <span id="close_modal1" class="material-icons-outlined">close</span>
            </div>

        </div>

        <div class="img_upload_sapce" style="opacity:75%; background-color:white; background-size: 65%; background-repeat: no-repeat; background-position: center;background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fbb4JR8%2FbtrV1TZMsQe%2FmKzeTh9DDEy3LSON2aYzGk%2Fimg.png); width:778px; height:540px; margin-top:10px;"></div>

    </div>
</div>
<!--2번째 modal-->
<div id="second_modal" class="modal_overlay">
<div class="modal_window">
    <div
        style="display: flex; flex-direction: row; justify-content: space-between;">
        <div>
            &nbsp;
        </div>

        <div>
            <b>새 이미지 업로드</b>
        </div>

        <div>
            <span id="close_modal2" class="material-icons-outlined">close</span>
        </div>

    </div>
    <div style="display:flex; flex-direction:row; margin-top:10px;">
        <div class="img_upload_sapce" style=" width:415px; height:540px; "></div>
        <div style ="margin-left:20px;" >
        <div>
            <p style="text-align:center; color:gray;  margin-bottom:10px;">냠냠에게 새로운 맛집을 알려주세요!</p>
            <p style="text-align:center;"><b> 맛집명 </b></p>
            <textarea id ="input_name" class="form-control" style="position:center; width:385px; height:18px; margin-bottom:10px;"  id="exampleFormControlTextarea1" rows="1"></textarea>
            
            <p style="text-align:center; margin:3px 0px 2px 0px;"><b> 주소 </b> <br> <span style="color:gray; font-size:13px;">정확한 주소를 입력해주세요</span> </p>
            <textarea id ="input_address" class="form-control" style="position:center; width:385px; height:18px; margin-bottom:10px;"  id="exampleFormControlTextarea1" rows="1"></textarea>
            
            <p style="text-align:center; margin:3px 0px 2px 0px;"><b> 전화번호 </b> <br> <span style="color:gray; font-size:13px;">000-0000-0000 형식으로 작성해주세요.</span> </p>
            <textarea id ="input_phone" class="form-control" style="position:center; width:385px; height:18px; margin-bottom:10px;"  id="exampleFormControlTextarea1" rows="1"></textarea>
            
            <p style="text-align:center; margin:3px 0px 2px 0px;"><b> 한줄평 </b> <br> <span style="color:gray; font-size:13px;"> 부적절한 단어는 입력되지 않습니다.</span> </p>
            <textarea id ="input_comment" class="form-control" style="position:center; width:385px; height:125px;"  id="exampleFormControlTextarea1" rows="2"></textarea>

            <button id="feed_ceate_button" type="button" class="btn btn-primary" style="width:385px; margin-top:5px;">공유하기</button>
        </div>
        </div>

    </div>
    

</div>
</div>
<!--1번째 modal-->
<div id="first_modal" class="modal_overlay">
    <div class="modal_window">
        <div
            style="border-bottom:solid 2px gray; display: flex; flex-direction: row; justify-content: space-between;">
            <div>
                &nbsp;
            </div>

            <div>
            <b>새 이미지 업로드</b>
            </div>

            <div>
                <span class="material-icons-outlined">close</span>
            </div>

        </div>

        <div class="img_upload_sapce" style="opacity:75%; background-size: 50%; background-repeat: no-repeat; background-position: center; background-image:url(https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fbb4JR8%2FbtrV1TZMsQe%2FmKzeTh9DDEy3LSON2aYzGk%2Fimg.png); width:778px; height:540px; margin-top:10px;"></div>

    </div>
</div>
<!--2번째 modal-->
<div id="second_modal" class="modal_overlay">
    <div class="modal_window">
        <div
            style="display: flex; flex-direction: row; justify-content: space-between;">
            <div>
                &nbsp;
            </div>

            <div>
                <b>새 이미지 업로드</b>
            </div>

            <div>
                <span class="material-icons-outlined">close</span>
            </div>

        </div>
        <div style="display:flex; flex-direction:row; margin-top:10px;">
            <div class="img_upload_sapce" style=" width:500px; height:540px; "></div>
            <div style ="border-left: solid 1px gray">
            <div>
                <p style="text-align:center"><b> 리뷰 </b></p>
                <textarea class="form-control" style="width:276px; height:400px;"  id="exampleFormControlTextarea1" rows="5"></textarea>
                <button type="button" class="btn btn-primary" style="width:100%;">공유하기</button>
            </div>
            </div>

        </div>
        

    </div>
</div>



<!-- Optional JavaScript; choose one of the two! -->
<script>
// 전역변수 설정
let files; // 파일명
// + 버튼 modal 띄우기
const modal = document.getElementById("first_modal");
const buttonAddFeed = document.getElementById("nav_bar_add_box");
buttonAddFeed.addEventListener("click", e => {
    modal.style.top = window.pageYOffset + 'px'; // top을 이용해 시작 y위치를 바꿔줌 
    modal.style.display = "flex";
    document.body.style.overflowY = "hidden"; // 스크롤 없애기
});
// x버튼 modal 닫기 코드 -1단계 닫기
const buttonCloseModal1 = document.getElementById("close_modal1");
const buttonCloseModal2 = document.getElementById("close_modal2");
const modal1 = document.getElementById("first_modal");
const modal2 = document.getElementById("second_modal");
buttonCloseModal1.addEventListener("click", e => {
    modal1.style.display = "none";
    document.body.style.overflowY = "visible";
    $('.img_upload_sapce').css({
        "background-image": "url('https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fbb4JR8%2FbtrV1TZMsQe%2FmKzeTh9DDEy3LSON2aYzGk%2Fimg.png')",
        "opacity":"100%",
        "outline": "none",
        "background-size": "65%",
        "background-repeat" : "no-repeat",
        "background-position" : "center",
        "background-color" : "white",
    });
});
//-2단계 닫기
buttonCloseModal2.addEventListener("click", e => {
    modal2.style.display ="none";
    document.body.style.overflowY = "visible";
    $('.img_upload_sapce').css({
        "background-image": "url('https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fbb4JR8%2FbtrV1TZMsQe%2FmKzeTh9DDEy3LSON2aYzGk%2Fimg.png')",
        "opacity":"100%",
        "outline": "none",
        "background-size": "65%",
        "background-repeat" : "no-repeat",
        "background-position" : "center",
        "background-color" : "white",
    });
});


$('.img_upload_sapce')
    .on("dragover", dragOver)
    .on("dragleave", dragOver)
    .on("drop", uploadFiles);
//console.log(e) e는 마우스 이벤트를 나타냄
function dragOver(e) {
    e.stopPropagation();
    e.preventDefault();
    if (e.type == "dragover") {
        $(e.target).css({"background-color": "black", "outline-offset": "-20px"});
    } else {
        $(e.target).css({"background-color": "white", "outline-offset": "-10px"});
    }
};

function uploadFiles(e){
    e.stopPropagation();
    e.preventDefault();

    e.dataTransfer = e.originalEvent.dataTransfer; //2
    files = e.target.files || e.dataTransfer.files;
    console.log("file_upload"+files[0].name)

    if (files.length > 1) {
        alert('파일을 1개씩 올려주십시오');
        return;
    }

    if (files[0].type.match(/image.*/)) {
      <!--파일이 업로드 되면 1번째 modal을 감추고 2번째 modal을 표시한다-->
      $('#first_modal').css({
        display:'none'
      })
      
      $('#second_modal').css({
        display:'flex',
        // 현재위치에 띄우기
        top:window.scrollY+'px',
      })
      $('.img_upload_sapce').css({
          "background-image": "url(" + window.URL.createObjectURL(files[0]) + ")",
          "outline": "none",
          "background-size": "100%",
          "background-repeat" : "no-repeat",
          "background-position" : "center",
        
      });
    }else{
    alert('이미지파일이 아닙니다. 파일형식을 확인해주세요 아닙니다.');
    return;
    }

};

// 공유하기 버튼 클릭시
$('#feed_ceate_button').click(function () {
    let image = files[0].name;
    let file = files[0];
    

    // 입력된 값 가져오기
    let name = $('#input_name').val();
    let road_address = $('#input_address').val();
    let phone_number = $('#input_phone').val();
    let comment = $('#input_comment').val();
    let user_id = $('#user_id').text(); // 유저 id
    // form data 변환하기
    let fd = new FormData();
    fd.append('user_id', user_id);
    fd.append('file', file);
    fd.append('image', image);
    fd.append('name', name);
    fd.append('road_address', road_address);
    fd.append('phone_number', phone_number);
    fd.append('comment', comment);

    $.ajax({
        url: "/content/upload",
        data: fd,
        method: "POST",
        processData: false,
        contentType: false,
        success: function (data) {
           alert("성공적으로 업로드 되었습니다.");
        },
        error: function (request, status, error) {
            alert("주소가 올바르지 않거나, 한줄평에 부적절한 내용이 있습니다. 또는 전화번호 양식을 확인해주세요");
        },
        complete: function () {
            location.replace('/main')
        }
    })
});

</script>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
-->

</body>

</html>